@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville&family=Montserrat:wght@100&family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}
header {
  width: 100%;
  /* background-color: whitesmoke; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  /* border: 1px solid black; */
}
span ul {
  display: flex;
  align-items: center;
  list-style: none;
}
span ul li,
i {
  text-decoration: none;
  margin-right: 34px;
}

main {
  background-color: whitesmoke;
}
/* ------------------------ 
Initial Info 
------------------------ */
.initial-info {
  /* border: 1px solid black; */
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.thumbnail-texts h1 {
  font-weight: 700;
  font-size: 52px;
}
.thumbnail-texts p {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
.thumbnail-texts button {
  border-radius: 20px;
  background-color: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  color: white;
  padding: 10px 0px 10px 24px;
}
.thumbnail-img img {
  height: 450px;
  width: 450px;
}
#img2 {
  height: 350px;
  width: 350px;
  position: absolute;
  right: 200px;
  top: 190px;
}

/* --------------------
Sponsers
-------------------- */
.sponser-companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 60px;
  margin-bottom: 0;
  border: 1px solid #c0ccda;
  border-left: 0;
  border-right: 0;
  height: 100px;
}

/*-------------------- 
Popular Collection Section
-------------------- */
.popular-collection {
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 100px;
  /* border: 1px solid black; */
}
.popular-collection h1 {
  text-align: center;
  color: #3a3a3a;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.collection {
  background-color: white;
  box-shadow: 1px 1px 5px rgb(231, 231, 231);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.collection img {
  width: 250px;
  height: 256px;
  margin-bottom: 0;
}
.collection h4 {
  font-weight: 500;
  font-size: 28px;
  margin-top: 0;
}
.price-dollar {
  margin-top: 0;
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.ratings-rate i {
  color: #fb8200;
  margin: 0;
}
.ratings-rate span {
  color: #787885;
  font-weight: 700;
}
.extra-info {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}
.additional-info {
  /* border: 1px solid black; */
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.additional-info a {
  color: #e02c6d;
  text-decoration: none;
}
.additional-info i {
  margin-right: 0;
}

/* Join Now Section */
.join-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 165px;
  margin-right: 165px;
}
/* .join-thumbnail,
.join-info {
  border: 1px solid black;
} */
.join-thumbnail img {
  width: 320px;
  height: 200px;
}
.join-info {
  margin-top: 0;
  padding: 10px;
  margin-left: 60px;
}
.join-info h3 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
.join-info p {
  color: #6c6c6c;
  font-size: 15px;
}
.join-btn {
  background-color: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  color: white;
  padding: 10px 0px 10px 24px;
}

/*------------------ 
Footer 
------------------*/

Footer {
  margin-top: 100px;
  background-color: #0a0826;
}
.footer-info {
  padding-top: 20px;
}
.footer-info h3 {
  color: whitesmoke;
  font-weight: 700;
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}
.footer-info p {
  color: whitesmoke;
  font-size: 13px;
  text-align: center;
}
.footer-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer-icons i {
  color: white;
  background-color: #1c1945;
  padding: 5px;
  border-radius: 25px;
}
